.about{
    margin : 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap : 40px;

    &__collapse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 71%;
        margin-left: auto;
        margin-right: auto;
        gap : 20px;
    }
}