.gallery{
    &__container{
        width: 100%;
        height: 415px;

        @media all and (max-width: 720px){
            height: 255px;       
        }
        
        &__banner{
            object-fit: cover;
            height: 415px;
            width: 86%;
            margin : 0px 7%;
            border-radius: 25px;
            z-index: -1;

            @media all and (max-width: 720px){
                height: 255px;       
                border-radius: 10px;
            }
        }

        &__items{

            position: relative;

            &__left{
                position: absolute;
                top : 150px;
                left : 7%;
                cursor: pointer;

                @media all and (max-width: 720px){
                    top : 120px;
                    width: 24px;
                    height: 24px;
                }
            }

            &__right{
                position: absolute;
                top : 150px;
                right : 7%;
                cursor: pointer;

                @media all and (max-width: 720px){
                    top : 120px;
                    width: 24px;
                    height: 24px;
                }
            }

            &__slides{
                position: absolute;
                top : 380px;
                left: 50%;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFF;

                @media all and (max-width : 720px){
                    display: none;
                }
            }
        }
    }
}

