@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    margin : 40px 100px;
    height: 68px;
    width: 1240px;

    &__banner{
            margin : 0px;
    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 300px;
        
        
        &__home{
            color: #FF6060;
            text-decoration: underline;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;            
        }

        &__about{
            color: #FF6060;
            text-decoration: none;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;   
        }
    }
}