.host{

    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 10px;

    @media all and (max-width : 720px) {
        margin-top: 20px;
    }

    &__name{
        display: flex;
        align-items: center;
        width: 100px;
        margin: 0px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: right;
        color: #FF6060;

        @media all and (max-width : 720px) {
            width: 50px;
            font-size: 12px;
            line-height: 17px;
        }
    }

    &__picture{
        width: 64px;
        height: 64px;
        border-radius: 32px;

        @media all and (max-width : 720px) {
            width: 32px;
            height: 32px;
            border-radius: 16px;
        }
    }
}